@import '../../variables.scss';
@import '../../classes.scss';

.mT9 { margin-top: 9px; }
.mT12 { margin-top: 12px; }

.radio
{
    width: 22px;
    height: 22px;
    background-color: $transparent;
    // border-radius: 50%;
}

.radio-button
{
    width: 12px;
    height: 12px;
    // border-radius: 50%;
}

.radio-text { padding-left: 10px; }

// .radio, .radio-text { cursor: pointer; }
.radio { border: $radioBorder; }

.textDark { color: $dmWhite; }
.radioDark { border-color: $dmWhite; }
.radioButtonDark { background-color: $dmWhite; }

.radio-default { border-color: $default; }
.radio-red { border-color: $red; }
.radio-green { border-color: $green; }
.radio-yellow { border-color: $yellow; }
.radio-purple { border-color: $purple; }

.radio-button-default { background-color: $default; }
.radio-button-red { background-color: $red; }
.radio-button-green { background-color: $green; }
.radio-button-yellow { background-color: $yellow; }
.radio-button-purple { background-color: $purple; }