<ng-container *ngTemplateOutlet="radio; context: {$implicit: false}"></ng-container>
<ng-container *ngTemplateOutlet="radio; context: {$implicit: true}"></ng-container>

<ng-template #radio let-blur>
    <div class="d-flex align-items-center mT{{ blur ? 12 : 9 }}">
        <!-- RADIO -->
        <div class="center radio pointer br50" [ngClass]="darkMode ? 'radioDark' : borderColor"  (click)="blurCanvas(blur)">
    
            <!-- RADIO CHECKED -->
            <div *ngIf="blur ? isBlur : !isBlur" class="radio-button br50" [style]="'background-' + (darkMode ? 'color: #d5dfec;' : 'image: ' + radioColor)"></div>
        </div>
    
        <!-- TEXT -->
        <span class="radio-text pointer" [ngClass]="darkMode ? 'dmWhite' : ''" (click)="blurCanvas(blur)" translate> {{ blur ? 'blurs' : 'blurNone' }} </span>
    </div>
</ng-template>