<div class="d-flex align-items-center mT9">
    <div class="d-flex align-items-center justify-content-center radio br50 pointer" [ngClass]="darkMode ? 'radioDark' : radioColor" (click)="blurCanvas()">
        <div *ngIf="!isBlur" class="radio-button br50" [ngClass]="darkMode ? 'radioButtonDark' : radioButtonColor"></div>
    </div>

    <span class="radio-text pointer" [ngClass]="darkMode ? 'textDark' : ''" (click)="blurCanvas()" translate> blurNone </span>
</div>

<div class="d-flex align-items-center mT12">
    <div class="d-flex align-items-center justify-content-center radio br50 pointer" [ngClass]="darkMode ? 'radioDark' : radioColor" (click)="blurCanvas('on')">
        <div *ngIf="isBlur" class="radio-button br50" [ngClass]="darkMode ? 'radioButtonDark' : radioButtonColor"></div>
    </div>

    <span class="radio-text pointer" [ngClass]="darkMode ? 'textDark' : ''" (click)="blurCanvas('on')" translate> blurs </span>
</div>