@import '../../variables.scss';
@import '../../classes.scss';

.mT9 { margin-top: 9px; }

.radio
{
    $rButton: 22px;
    width: $rButton;
    height: $rButton;
}

.radio-button
{
    $rButtonSize: 12px;
    width: $rButtonSize;
    height: $rButtonSize;
}

.radio-text { padding: 0 10px; }

.radio { border: $radioBorder; }

.radio-Dark { border-color: $dmWhite; }

.radio-default { border-color: $default; }
.radio-red { border-color: $red; }
.radio-green { border-color: $green; }
.radio-yellow { border-color: $yellow; }
.radio-purple { border-color: $purple; }
