@import '../classes.scss';

.h-82 { height: 82px; }
.w-25px { width: 25px; }
.mL40 { margin-left: 40px; }
.white50 { color: #fefefe80; }
.left280 { left: -280px; }

.img-logo
{
    padding: 10px;
    margin-left: 2px;
}

.contacts
{
    padding: 33px 20px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    &:hover { animation: contactMe 2s linear infinite; }
    z-index: 100;
}
@keyframes contactMe
{
    10% { margin-bottom: 10px; }
    20% { margin-bottom: 0; }
    30% { margin-bottom: 10px; }
    40% { margin-bottom: 0; }
}

.menu-button
{
    font-size: xx-large;
    padding: 13.5px 8px;
    margin-right: 20px;
    z-index: 100;

    & div
    {
        border-radius: 5px;
        height: 3px;
        &:not(.menu-button-middle) { width: 15px; }
        @extend .transition;
    }

    & div:first-child { margin-left: auto; }
    & div:last-child { margin-right: auto; }
    & .menu-button-middle
    {
        width: 30px;
        margin: 5px 0;
    }

    &.clicked
    {
        & div:first-child { @include translateX(-15px); }
        & div:last-child { @include translateX(15px); }
    }
}

.menu-button-dark > div { @extend .bgDarkMode; }
.menu-button-default > div { @extend .bgDefault; }
.menu-button-green > div { @extend .bgGreen; }
.menu-button-red > div { @extend .bgRed; }
.menu-button-yellow > div { @extend .bgYellow; }
.menu-button-purple > div { @extend .bgPurple; }

.offcanvas-menu
{
    height: 100vh;
    width: 280px;
    z-index: 1000;
}

.canvasShadow { box-shadow: 0 2px 4px -1px #00000033, 0 4px 5px 0 #00000024, 0 1px 10px 0 #0000001f; }

.menu-item
{
    text-decoration: none;
    margin-bottom: 15px;
    font-size: larger;
    transition: .1s;
    &:hover > span { text-decoration: underline; }
}

.active { font-weight: 600; }
