<header class="container-fluid d-flex align-items-center justify-content-between h-82 p-0">
    <!-- LOGO -->
    <img class="img-logo pointer" width="80px" height="auto" src="/assets/images/logo-2.png" alt="logo" routerLink="home">
    
    <!-- CONTACT ME -->
    <a *ngIf="isLarge" routerLink="contact-me" class="d-flex contacts white" translate>
        <i class="bi bi-send d-flex align-items-center w-25px"></i>
        contactMe <span> ! </span>
    </a>

    <ng-container *ngIf="!isLarge">
        <div class="d-flex flex-column align-items-center menu-button {{ clicked ? 'clicked' : '' }} {{ menuButtonColor }} pointer br50 bgWhite" tabindex="0" (click)="clicked = !clicked">
            <div class="menu-button-top"></div>
            <div class="menu-button-middle"></div>
            <div class="menu-button-bottom"></div>
        </div>
    
        <!-- OFFCANVAS -->
        <div class="offcanvas-menu absolute top0 backdrop-filter canvasTransition p10 {{ clicked ? 'left0 canvasShadow' : 'left280' }} {{ darkMode ? 'dmWhite' : '' }} {{ offcanvasColor }}" (clickOutside)="checkOutside($event.target)">
            <!-- CLOSE BUTTON -->
            <div class="container-fluid d-flex justify-content-end xPadding">
                <i class="bi bi-x-lg br50 pointer transition d-flex x-button {{ darkMode ? 'x-dark' : '' }}" (click)="clicked = false"></i>
            </div>
    
            <!-- BODY -->
            <ul class="d-flex flex-column align-items-center p-0 m-0 mt-2">
                <li *ngFor="let item of items" class="d-flex align-items-center menu-item pointer {{ item.class }}" [routerLink]="item.link" (click)="clicked = false">
                    <i class="bi bi-{{ item.icon }} d-flex me-2"></i>
                    <span translate> {{ item.text }} </span>
                </li>
            </ul>
        </div>
    </ng-container>
</header>
