.translateX26 { @import '../../../../assets/classes'; @include translateX(26px); }

.dark-mode-toggle
{
    width: 56px;
    height: 29px;
    margin-block: 13px;
    border-radius: 20px;
    transition: .4s;
    box-shadow: 0 0 5px 0 #00000033, 0 0 5px 0 #0000000f, 0 0 0 0 #0000001f;
    
    i, div { transition: .4s; }
    i { margin-left: 10px; }
}

.toggle-circle
{
    $size: 22px;
    width: $size;
    height: $size;
    margin-left: calc($size * -1);
}
