.settings-section
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
}

.section-header
{
    font-size: calc(19px * var(--font-scale));
    font-weight: 600;
}

.info-tip
{
    border-radius: 50%;
    font-size: calc(13px * var(--font-scale));
    margin-left: calc(5px * var(--font-scale));
}
