<header class="container-fluid d-flex align-items-center justify-content-between h-82px p-0">
    <!-- LOGO -->
    <img class="img-logo pointer" width="80px" height="auto" src="/assets/images/logo-2.png" alt="logo" routerLink="/" title="Home">

    <!-- CONTACT ME -->
    <a *ngIf="Customizer.Breakpoint" routerLink="contact-me" class="d-flex contacts white">
        <i class="bi bi-send d-flex align-items-center"></i>
        <span translate="window.contactMe!"></span>
    </a>

    <!-- SMALL SCREEN NAVBAR (CONDENSED) -->
    <app-navbar-condensed *ngIf="!Customizer.Breakpoint"></app-navbar-condensed>
</header>
