.palette
{
    height: 67.5px;
    padding: 13px 0;
}

.palette-icon
{
    $size: 35px;
    $constShadow: 0 0 20px -20px #00000033;

    width: $size;
    height: $size;
    border-radius: 10px;
    box-shadow: $constShadow,
    0 0 10px 0px #00000024,
    0 0 0 0 #0000001f;

    &:hover
    {
        transform: scale(1.15);
        box-shadow: $constShadow,
        0 0 10px -5px #00000024,
        0 0 10px -5px #0000001f;
    }
}

.palette-icon-check
{
    font-size: xx-large;
    transition: .1s;
}
