.mT9 { margin-top: 9px; }

.radio
{
    $rButton: 22px;
    width: $rButton;
    height: $rButton;
}

.radio-button
{
    $rButtonSize: 12px;
    width: $rButtonSize;
    height: $rButtonSize;
}

.radio-text { padding: 0 10px; }

.radio {@import '../../../classes'; border: $radioBorder; }

.radio-Dark {@import '../../../classes'; border-color: $dmWhite; }
.radio-default {@import '../../../classes'; border-color: $default; }
.radio-red {@import '../../../classes'; border-color: $red; }
.radio-green {@import '../../../classes'; border-color: $green; }
.radio-yellow {@import '../../../classes'; border-color: $yellow; }
.radio-purple {@import '../../../classes'; border-color: $purple; }
