.walt-bg-navbar
{
    height: 100vh;
    width: max-content;
    padding-top: 10px;
}

app-navbar-item
{
    padding: 8px 21px;
}
::ng-deep app-navbar-item.active div > a
{
    background-color: #fefefe;

    &:hover { background-color: #fefefe !important; }
    & i { color: #4b95b5; }
}