@import '../classes.scss';

.font-26px { font-size: 26px; }

.navbar-size
{
    height: calc(100vh - 82px);
    width: max-content;
}

.navbar-item
{
    padding: 7px 14px;
    &:first-child { padding-top: 0; }
}

.active, .active:hover { @extend .bgWhite; }

.item-color-dark { color: #004766; }
.item-color-default { color: $light-default; }
.item-color-red { color: $light-red; }
.item-color-green { color: $light-green; }
.item-color-yellow { color: $light-yellow; }
.item-color-purple { color: $light-purple; }

.navbar-item-icon
{
    padding: 14px;
    border-radius: 13px;
    &:not(.navbar-item-icon.active):hover { background-color: #ffffff2e; }
    
    // ITEM TITLE
    & + span
    {
        padding: 7px 12px;
        border-radius: 7px;
        margin-left: 62px;
        box-shadow: 0 0 20px -5px #00000033,
        0 0 10px 0px #00000024,
        0 0 0 0 #0000001f;
    }
}

.title-color-dark { background-color: #3b5462; }
.title-color-default { background-color: #19496C; }
.title-color-red { background-color: #802424; }
.title-color-green { background-color: #3a7826; }
.title-color-yellow { background-color: #7a5825; }
.title-color-purple { background-color: #644075; }
