<div class="d-flex flex-column align-items-center bg-navbar">
    <!-- HOME -->
    <app-navbar-item class="{{ homeClass }}" routeLink="home" icon="house" [title]="'Home'"></app-navbar-item>

    <!-- ABOUT ME -->
    <app-navbar-item class="{{ aboutMeClass }}" routeLink="about-me" icon="person-circle" [title]="'aboutMe'"></app-navbar-item>
    
    <!-- CONTACT ME -->
    <app-navbar-item class="{{ contactMeClass }}" routeLink="contact-me" icon="send" [title]="'contactMe'"></app-navbar-item>
</div>
