<div class="d-flex flex-column align-items-end justify-content-end mT-20px">
    <!-- LANGUAGES LIST -->
    <div id="lang-select-2" *ngIf="clicked" class="d-flex flex-column align-items-start dropdownLangs transition {{ Customizer.DarkMode ? 'darkBlur' : 'blur' }} opacity{{ showSelect ? '1 pointer noTranslateY' : '0 cursorDefault translateY10' }}">
        <div id="lang-select-3" *ngFor="let code of PARAMS.LANGUAGES" class="center" (click)="setLanguage(code)">
            <!-- COUNTRY ICON -->
            <i id="lang-select-4" class="flag-icon flag-icon-{{ code }}"></i>

            <!-- COUNTRY NAME -->
            <span id="lang-select-5" class="pL-6px"> {{ code === 'it' ? 'ITA' : 'ENG' }} </span>
        </div>
    </div>

    <div id="lang-select-6" class="center">
        <!-- GLOBE BUTTON -->
        <span id="lang-select-7" class="center lang-button br50 zIndex1000 transition pointer translate{{ lang === 'it' ? 1 : 2 }} {{ clicked ? 'noTranslateX' : '' }}" (click)="showLang()" (clickOutside)="checkOutside($event.target)" tooltip="window.settings.langSelectTip">
            <i id="lang-select-8" class="bi bi-globe2 fs-4 d-flex"></i>
        </span>

        <!-- SELECTED LANG -->
        <span id="lang-select-9" class="lang transition zIndex999 opacity{{ clicked ? '1' : '0' }}">
            <span id="lang-select-10" class="d-flex align-items-center {{ clicked ? 'pointer' : 'cursorDefault' }}" (click)="showSelect = !showSelect">
                <!-- COUNTRY ICON -->
                <i id="lang-select-11" class="flag-icon flag-icon-{{ lang }}"></i>

                <!-- COUNTRY NAME -->
                <span id="lang-select-12" class="lang-span"> {{ lang === 'it' ? 'ITA' : 'ENG' }} </span>

                <!-- CHECK ICON -->
                <i id="lang-select-13" class="bi bi-arrow-up-short d-flex {{ showSelect ? 'revertArrow' : '' }}"></i>
            </span>
        </span>
    </div>
</div>
