@mixin thumb-properties()
{
    width: 20px;
    height: 20px;
    background-image: var(--gradient);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px 0 #00000033, 0 0 5px 0 #0000000f, 0 0 0 0 #0000001f;
}

.slider-separators
{
    width: 208px;
    margin-top: 13px;

    & .slider-separator
    {
        width: 2px;
        height: 12px;

        &:first-child,
        &:last-child
        {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin-top: 3px;
        }
    }
}

input[type="range"]
{
    -webkit-appearance: none;
    width: 208px;
    height: 2px;
    border-radius: 3px;
    display: grid;
    margin: -7px 0 30px;
}

/* Per Chrome e Safari */
input[type="range"]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    @include thumb-properties();
}

/* Stile per il cursore su Firefox */
input[type="range"]::-moz-range-thumb
{
    @include thumb-properties();
}

/* Stile per il cursore su Edge */
input[type="range"]::-ms-thumb
{
    @include thumb-properties();
}
