.slider-lines
{
    width: 208px;
    height: 15px;
    margin-top: 10px;

    & .slider-line
    {
        background: white;
        width: 2px;
        height: 12px;
    }
}

input[type="range"]
{
    -webkit-appearance: none;
    width: 208px;
    height: 2px;
    border-radius: 3px;
    margin-bottom: 30px;
    display: grid;
    margin-top: -10px;
}

/* Per Chrome e Safari */
input[type="range"]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #ff0000;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;

    &:hover { background: #b30000; }
}

/* Stile per il cursore su Firefox */
input[type="range"]::-moz-range-thumb
{
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

/* Stile per il cursore su Edge */
input[type="range"]::-ms-thumb
{
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}
