@import '../../variables.scss';
@import '../../classes.scss';

.color-icon
{
    $size: 35px;
    width: $size;
    height: $size;
    border-radius: 10px;
    &:hover { transform: scale(1.15); } 
}

.icon-shadow
{
    $shadow: #00000033, 0 0 10px 0px #00000024, 0 0 0 0 #0000001f;
    box-shadow: 0 0 20px -5px $shadow;
    &:hover { box-shadow: 0 0 10px -3px $shadow; }
}

.check-icon
{
    font-size: xx-large;
    transition: .1s;
}
