@import '../../variables.scss';
@import '../../classes.scss';

.color-icon
{
    $size: 35px;
    width: $size;
    height: $size;
    border-radius: 10px;

    &:hover { transform: scale(1.15); } 
}

.icon-shadow
{
    box-shadow: 0 0 5px 0px #00000033,
    0 0 5px 0px rgb(0 0 0 / 14%),
    0 0 0px 0px rgb(0 0 0 / 12%);
    &:hover
    {
        box-shadow: 0 0 10px 0px #00000033,
        0 0 5px 0px rgb(0 0 0 / 14%),
        0 0 0px 0px rgb(0 0 0 / 12%);
    }
}

.check-icon
{
    font-size: xx-large;
    color: $white;
    transition: .1s;
}