@import './variables.scss';
@import './classes.scss';

.wMaxContent { width: $maxContent; }
.hMaxContent { height: $maxContent; }

.Montserrat { @include font('Montserrat'); }
.Roboto { @include font('Roboto'); }

.div-spinner
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.app-spinner
{
    $diameter: 6.5rem;
    width: $diameter;
    height: $diameter;
}

.body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.router-outlet
{
    height: calc(100vh - 82px);
    border-top-left-radius: 30px;
    background-color: #fffffff2;
    box-shadow: -5px -5px 20px 0px #00000033,
    0 4px 5px 0 #00000024,
    0 1px 10px 0 #0000001f;
    z-index: 101;
}

.pNotB20 { padding: 20px 20px 0 20px; }

.bgDark { background-color: #123752; }

.overflowY
{
    overflow-y: auto;
    overflow-x: hidden;
}

.wallpaper
{
    border-top-left-radius: 30px;
    opacity: .3;
    filter: saturate(0);
}
