<!-- SPINNER BACKGROUND -->
<div *ngIf="!isReady" class="div-spinner center">
    <div class="spinner-border white app-spinner" role="status"></div>
</div>

<div #app class="body absolute {{ font }}" [style]="'background-image: ' + (darkMode ? biDark : palette.bgImage)">
    <!-- HEADER -->
    <app-header></app-header>

    <!-- SETTINGS OFFCANVAS -->
    <app-settings-canvas></app-settings-canvas>

    <div class="container-fluid p-0 d-flex">
        <!-- NAVBAR -->
        <app-navbar *ngIf="isLarge"></app-navbar>
        
        <main class="container-fluid p-0 router-outlet overflowY {{ darkMode ? 'bgDark white' : '' }}">
            <!-- BACKGROUND -->
            <img class="wallpaper absolute" height="100%" width="auto" src="/assets/images/background-extended.webp" alt="background">
            
            <div class="pNotB20">
                <!-- ROUTER OUTLET -->
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>
