@import './scssVariables.scss';

.Montserrat { font-family: 'Montserrat', sans-serif; }
.Roboto { font-family: 'Roboto', sans-serif; }

.body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.marginT-18 { margin-top: 18px; }

.wMaxContent { width: $maxContent; }
.hMaxContent { height: $maxContent; }

.borderTL { border-top-left-radius: 30px; }

.bg-router-outlet
{
    background-color: $bgWhite;
    box-shadow: -5px -5px 20px 0px
    rgb(0 0 0 / 20%), 0 4px 5px 0
    rgb(0 0 0 / 14%), 0 1px 10px 0
    rgb(0 0 0 / 12%);
}

.bg-router-outlet-dark
{
    color: #fefefe;
    background-color: #123752;
}

.p-router-outlet { padding: 1rem 0 0 1.75rem; }

.overflowY
{
    overflow-y: scroll;
    
    &::-webkit-scrollbar
    {
        background-color: transparent;
        opacity: 20%;
        width: 13px;
    }
    &::-webkit-scrollbar-thumb
    {
        background-clip: content-box;
        background-image: linear-gradient(147.38deg, #4C96B6 0%, #19496C 100%);
        border: 3px solid transparent;
        border-radius: 100px;
        margin: 2px;
        -webkit-transition: .2s ease-in;
        transition: .2s ease-in;
    }
}