<!-- SPINNER BACKGROUND -->
<div *ngIf="!isReady" class="div-spinner center">
    <div class="spinner-border white app-spinner" role="status"></div>
</div>

<div #app class="body absolute {{ font }}" [style]="'background-image: ' + (darkMode ? biDark : palette.bgImage)">
    <!-- LOGO & CONTACT ME -->
    <app-logo></app-logo>

    <!-- SETTINGS OFFCANVAS -->
    <app-settings-canvas></app-settings-canvas>

    <div class="container-fluid p-0 d-flex">
        <span class="container-fluid d-flex p-0 m-0 wMaxContent">
            <!-- VERTICAL NAVBAR -->
            <app-navbar></app-navbar>
        </span>
        <span class="container-fluid router-outlet overflowY {{ darkMode ? 'bgDark white' : '' }}">
            <!-- BACKGROUND -->
            <img class="wallpaper absolute" height="100%" width="auto" src="/assets/images/background.webp" alt="background">
            
            <!-- ROUTER OUTLET -->
            <router-outlet></router-outlet>
        </span>
    </div>
</div>
