<div class="body absolute" [ngClass]="font" [style]="'background-image: ' + (darkMode ? bgDark : palette.bgImage)">
    <!-- LOGO & CONTACT ME -->
    <app-logo></app-logo>

    <!-- SETTINGS OFFCANVAS -->
    <app-settings-canvas></app-settings-canvas>

    <div class="container-fluid p-0 d-flex">
        <span class="container-fluid d-flex p-0 m-0 wMaxContent">
            <!-- VERTICAL NAVBAR -->
            <app-navbar></app-navbar>
        </span>
        <span class="container-fluid router-outlet overflowY" [ngClass]="darkMode ? 'bgDark' : ''">
            <!-- ROUTER OUTLET -->
            <router-outlet></router-outlet>
        </span>
    </div>
</div>