@import './variables.scss';

.opacity0 { opacity: 0; }
.opacity1 { opacity: 1; }
.displayNone { display: none; }
.pointer { cursor: pointer; }
.cursorDefault { cursor: default; }
.zIndex1000 { z-index: 1000; }
.absolute { position: absolute; }
.br50 { border-radius: 50%; }
.transition { transition: .2s; }
.canvasTransition { transition: .3s; }
.canvasShadow { box-shadow: 0 2px 4px -1px #00000033, 0 4px 5px 0 #00000024, 0 1px 10px 0 #0000001f; }
.p10 { padding: 10px; }
.top0 { top: 0; }
.bottom0 { bottom: 0; }
.left0 { left: 0; }
.right0 { right: 0; }
.pT0 { padding-top: 0; }
.pR0 { padding-right: 0; }
.pB0 { padding-bottom: 0; }
.pL0 { padding-left: 0; }

// COLOR
.white { color: $white; }
.dmWhite { color: $dmWhite; }
.default { color: $default; }
.red { color: $red; }
.green { color: $green; }
.yellow { color: $yellow; }
.purple { color: $purple; }

// BACKGROUND-COLOR
.bgWhite { background-color: $white; }
.BGwhite { background-color: $bgWhite; }
.bgDefault { background-color: $default; }
.bgRed { background-color: $red; }
.bgGreen { background-color: $green; }
.bgYellow { background-color: $yellow; }
.bgPurple { background-color: $purple; }
.bgDarkMode { background-color: #162a41; }
.bgBlur { background-color: #f5f7fabf; }
.bgDarkModeBlur { background-color: #162a4180; }

.center
{ 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.backdrop-filter
{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

.xPadding { padding: 0 7px 12px 12px; }
.x-button
{
    padding: 7px;
    -webkit-text-stroke: thin;
    &:hover { background-color: #e9ecef; }
}
.x-dark:hover { background-color: #253a53; }

@mixin translateX($px) { transform: translateX($px); }
@mixin translateY($px) { transform: translateY($px); }
@mixin rotate($deg) { transform: rotate($deg); }
@mixin font($name, $family: sans-serif) { font-family: $name, $family; }
@mixin gradient($c1, $c2, $gDeg: $deg) { background-image: linear-gradient($gDeg, $c1 0%, $c2 100%); }
