@import './variables.scss';

.opacity0 { opacity: 0; }
.opacity1 { opacity: 1; }
.pointer { cursor: pointer; }
.cursorDefault { cursor: default; }
.font-xLarge { font-size: x-large; }
.zIndex1000 { z-index: 1000; }
.absolute { position: absolute; }
.br50 { border-radius: 50%; }
.transition { transition: .2s; }
.top0 { top: 0; }
.bottom0 { bottom: 0; }
.left0 { left: 0; }
.right0 { right: 0; }
.white { color: $white; }
.bgWhite { background-color: $white; }
.dmWhite { color: $dmWhite }
.BGwhite { background-color: $bgWhite; }

.center
{ 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.backdrop-filter
{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

@mixin translateX($px) { transform: translateX($px); }
@mixin translateY($px) { transform: translateY($px); }
@mixin rotate($deg) { transform: rotate($deg); }
@mixin font($name, $family: sans-serif) { font-family: $name, $family; }
@mixin gradient($c1, $c2, $gDeg: $deg) { background-image: linear-gradient($gDeg, $c1 0%, $c2 100%); }