.opacity0 { opacity: 0; }
.opacity1 { opacity: 1; }
.pointer { cursor: pointer; }
.font-xLarge { font-size: x-large; }
.zIndex1000 { z-index: 1000; }
.absolute { position: absolute; }
.br50 { border-radius: 50%; }
.transition { transition: .2s; }

@mixin bgColor($color) { background-color: $color; }
@mixin color($color) { color: $color; }
@mixin translateX($px) { transform: translateX($px); }