// COLORS
$default: #2c82a7;
$red: #b44b4b;
$green: #67b34d;
$yellow: #b39c4a;
$purple: #aa85bd;
$dmWhite: #d5dfec;
$white: #fefefe;
$bgWhite: #F5F7FA;

$radioBorder: 2px solid;
$maxContent: max-content;