// COLORS
$default: #326f93;
$red: #933434;
$green: #459355;
$yellow: #946835;
$purple: #65739b;
$light-default: #2c82a7;
$light-red: #b44b4b;
$light-green: #67b34d;
$light-yellow: #b39c4a;
$light-purple: #aa85bd;
$dmWhite: #d5dfec;
$white: #fefefe;
$bgWhite: #F5F7FA;
$transparent: transparent;
$deg: 147.38deg;
$degRevert: 327.38deg;
$radioBorder: 2px solid;
$maxContent: max-content;
