:host ::ng-deep app-settings-section:first-child > div { padding-top: 0; }

.right280 { right: -280px; }
.pY-7-12_6 { padding: 7px 0 12.6px; }

.settings
{
    height: calc(100vh - 67px);
    overflow-y: auto;
}

.settings-canvas
{
    height: 100vh;
    width: 280px;
    z-index: 1000;
}

.settings-button
{
    $size: 50px;
    $radius: 5px;
    width: $size;
    height: $size;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    z-index: 102;
    box-shadow: 0 0 5px 0 #00000033, 0 0 5px 0 #0000000f, 0 0 0 0 #0000001f;

    &:hover > i
    {
        transition: transform .9s cubic-bezier(0.42, 0.17, 0.53, 0.77);
        @import '../classes';
        @include rotate(225deg);
    }
}
.settings-button-icon { font-size: 33px; }

.color-dark
{
    @import '../classes';
    @include gradient(#587987, #1e3e55, $degRevert);
    &:hover { @include gradient(#6d93a3, #30536d, $degRevert); }
}

.color-default
{
    @import '../classes';
    @include gradient(#4C96B6, #19496C);
    &:hover { @include gradient(#6cb3d1, #2f678e); }
}

.color-red
{
    @import '../classes';
    @include gradient(#b64c4c, #6c1919);
    &:hover { @include gradient(#c76565, #8f3535); }
}

.color-green
{
    @import '../classes';
    @include gradient(#6ab64c, #196c59);
    &:hover { @include gradient(#86c86c, #3d8f7c); }
}

.color-yellow
{
    @import '../classes';
    @include gradient(#b6a14c, #6c2a19);
    &:hover { @include gradient(#c6b25e, #934e3c); }
}

.color-purple
{
    @import '../classes';
    @include gradient(#b086c0, #226b79);
    &:hover { @include gradient(#c699d8, #287f91); }
}
