@import '../variables.scss';
@import '../classes.scss';

.p10 { padding: 10px; }
.p12 { padding: 12px; }
.hMax { height: $maxContent; }
.settings-padding { padding: 0 10px 10px 10px; }

.settings
{
    height: calc(100vh - 67px);
    overflow-y: auto;
}

$canvasShadow: 0 2px 4px -1px #00000033, 0 4px 5px 0 #00000024, 0 1px 10px 0 #0000001f;

.right270 { right: -270px; }
.right0 { right: 0; }

.x-button
{
    padding: 7px;
    -webkit-text-stroke: thin;
    &:hover { background-color: #e9ecef; }
}

.x-dark:hover { background-color: #253a53; }

.settings-canvas
{
    height: 100vh;
    width: 270px;
    border-left: 0 none;
    z-index: 102;
}
.canvasShadow { box-shadow: $canvasShadow }

.canvasDarkMode { background-color: #162a41; }

.blur { background-color: #f5f7fabf; }
.darkBlur { background-color: #162a4180; }

.canvasTransition { transition: .3s; }

.settings-div-button
{
    $size: 50px;
    $radius: 5px;
    $settingsShadow: 0 0 5px 0 #00000033, 0 0 5px 0 #0000000f, 0 0 0 0 #0000001f;
    width: $size;
    height: $size;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    z-index: 102;
    box-shadow: $settingsShadow;

    &:hover > i
    {
        transition: transform .9s cubic-bezier(0.42, 0.17, 0.53, 0.77);
        @include rotate(225deg);
    }
}

.fontSize33 { font-size: 33px; }

.color-dark
{
    @include gradient(#587987, #1e3e55, $degRevert);
    &:hover { @include gradient(#6d93a3, #30536d, $degRevert); }
}

.color-default
{
    @include gradient(#4C96B6, #19496C);
    &:hover { @include gradient(#6cb3d1, #2f678e); }
}

.color-red
{
    @include gradient(#b64c4c, #6c1919);
    &:hover { @include gradient(#c76565, #8f3535); }
}

.color-green
{
    @include gradient(#6ab64c, #196c59);
    &:hover { @include gradient(#86c86c, #3d8f7c); }
}

.color-yellow
{
    @include gradient(#b6a14c, #6c2a19);
    &:hover { @include gradient(#c6b25e, #934e3c); }
}

.color-purple
{
    @include gradient(#b086c0, #226b79);
    &:hover { @include gradient(#c699d8, #287f91); }
}

.h-67_5 { height: 67.5px; } 

.layout-style-title
{
    font-size: larger;
    font-weight: 600;
}

.pY-13 { padding: 13px 0; }
.pY-7-12_6 { padding: 7px 0 12.6px; }

.pT-5 { padding-top: 5px; }

:host
{
    ::ng-deep .activeFont > div > i,
    ::ng-deep .activeIcon > div > i { opacity: 1 !important; }
}