<div class="d-flex align-items-center myOffcanvas absolute" [ngClass]="clicked ? 'top0' : ''">
    <!-- OFFCANVAS BUTTON -->
    <div class="settings-div-button pointer center" [ngClass]="toggleClicked ? 'color-default' : colorClass" (click)="clicked = !clicked">
        <i class="bi bi-gear center fontSize33"></i>
    </div>
    
    <!-- OFFCANVAS BODY -->
    <div *ngIf="clicked" class="d-flex flex-wrap align-content-between justify-content-center settings-canvas p10" [ngClass]="canvasColor">
        <div class="w-100 hMax">

            <!-- CHANGE LAYOUT THEME -->
            <div class="container-fluid">
                <div class="col-12 layout-style-title" [ngClass]="toggleClicked ? 'textDark' : ''" translate>
                    layoutTheme
                </div>
                <div *ngIf="!toggleClicked" class="col-12 d-flex align-items-center justify-content-between pY-13 h-67_5">
                    <!-- LAYOUT THEMES -->
                    <app-icon-palette bg="#2c82a7" [ngClass]="activeIcon('#2c82a7')"></app-icon-palette>
                    <app-icon-palette bg="#b44b4b" [ngClass]="activeIcon('#b44b4b')"></app-icon-palette>
                    <app-icon-palette bg="#67b34d" [ngClass]="activeIcon('#67b34d')"></app-icon-palette>
                    <app-icon-palette bg="#b39c4a" [ngClass]="activeIcon('#b39c4a')"></app-icon-palette>
                    <app-icon-palette bg="#aa85bd" [ngClass]="activeIcon('#aa85bd')"></app-icon-palette>
                </div>

                <!-- LAYOUT THEMES NON AVAILABLES -->
                <div class="textDark pY-7-12_6" *ngIf="toggleClicked">
                    <span translate> layoutThemeNotAvailable </span>
                </div>
            </div>
    
            <!-- DARK MODE -->
            <div class="container-fluid p10">
                <div class="col-12 layout-style-title" [ngClass]="toggleClicked ? 'textDark' : ''" translate>
                    darkMode
                </div>
                
                <!-- DARK-MODE TOGGLE -->
                <app-toggle></app-toggle>
            </div>
    
            <!-- FONT -->
            <div class="container-fluid p10">
                <div class="col-12 layout-style-title" [ngClass]="toggleClicked ? 'textDark' : ''">
                    Font
                </div>
                <div class="d-flex flex-column">
                    <!-- FONTS -->
                    <app-font-text font="Montserrat" [ngClass]="activeFont('Montserrat')"></app-font-text>
                    <app-font-text font="Roboto" [ngClass]="activeFont('Roboto')"></app-font-text>
                </div>
            </div>
    
            <!-- BLURRED OFFCANVAS -->
            <div class="container-fluid p10">
                <div class="col-12 layout-style-title" [ngClass]="toggleClicked ? 'textDark' : ''" translate>
                    canvasBlur
                </div>

                <!-- RADIOS -->
                <app-radio></app-radio>
            </div>
        </div>

        <!-- CHANGE LANGUAGE SELECT -->
        <app-lang-select></app-lang-select>
    </div>
</div>