@import '../variables.scss';
@import '../classes.scss';

.p10 { padding: 10px; } 
.hMax { height: $maxContent; }

$gradientDeg: 147.38deg;
$canvasShadow: 0 2px 4px -1px #00000033, 0 4px 5px 0 #00000024, 0 1px 10px 0 #0000001f;

.right270 { right: -270px; }
.right0 { right: 0; }

.settings-canvas
{
    height: 100vh;
    width: 270px;
    background-color: $bgWhite;
    border-left: 0 none;
}
.canvasShadow { box-shadow: $canvasShadow }

.canvasDarkMode { background-color: #162a41; }

.blur, .darkBlur
{
    $blur: 10px;
    -webkit-backdrop-filter: blur($blur);
    backdrop-filter: blur($blur);
}
.blur { background-color: #f5f7fa4d; }
.darkBlur { background-color: #162a4180; }

.canvasTransition { transition: .3s; }

.settings-div-button
{
    $size: 50px;
    $blRadius: 5px;
    color: $white;
    width: $size;
    height: $size;
    border-top-left-radius: $blRadius;
    border-bottom-left-radius: $blRadius;

    &:hover > i
    {
        transition: transform .9s cubic-bezier(0.42, 0.17, 0.53, 0.77);
        @include rotate(180deg);
    }
}

.fontSize33 { font-size: 33px; }

.color-default
{
    @include gradient($gradientDeg, #4C96B6 0%, #19496C 100%);
    &:hover { @include gradient($gradientDeg, #6cb3d1 0%, #2f678e 100%); }
}

.color-red
{
    @include gradient($gradientDeg, #b64c4c 0%, #6c1919 100%);
    &:hover { @include gradient($gradientDeg, #c76565 0%, #8f3535 100%); }
}

.color-green
{
    @include gradient($gradientDeg, #6ab64c 0%, #196c59 100%);
    &:hover { @include gradient($gradientDeg, #86c86c 0%, #3d8f7c 100%); }
}

.color-yellow
{
    @include gradient($gradientDeg, #b6a14c 0%, #6c2a19 100%);
    &:hover { @include gradient($gradientDeg, #c6b25e 0%, #934e3c 100%); }
}

.color-purple
{
    @include gradient($gradientDeg, #b086c0 0%, #574b8e 100%);
    &:hover { @include gradient($gradientDeg, #c59cd6 0%, #5c4fa6 100%); }
}

.textDark { color: $dmWhite; }

.h-67_5 { height: 67.5px; } 

.layout-style-title
{
    font-size: larger;
    font-weight: 600;
}

.pY-13 { padding: 13px 0; }
.pY-7-12_6 { padding: 7px 0 12.6px; }

::ng-deep .activeFont > div > i,
::ng-deep .activeIcon > div > i { opacity: 1 !important; }

.pT-5 { padding-top: 5px; }