.lang-button
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 1000;
    transition: .2s;
}
.translate1 { transform: translateX(40px); }
.translate2 { transform: translateX(45px); }

.noTranslateX { transform: translateX(0); }

.radial-dark { border: 2px solid #d5dfec; }
.radial-default { border: 2px solid #2c82a7; }
.radial-red { border: 2px solid #b44b4b; }
.radial-green { border: 2px solid #67b34d; }
.radial-yellow { border: 2px solid #b39c4a; }
.radial-purple { border: 2px solid #aa85bd; }

.lang
{
    opacity: 0;
    transition: .2s;
    padding: 5px 0;
    cursor: default;
}

.showLang
{
    opacity: 1;
    cursor: pointer;
}

.lang > .bi-arrow-up-short::before { transition: .2s; }
.revertArrow::before { transform: rotate(-180deg); }

// .langClicked
// {

// }