@import '../../variables.scss';
@import '../../classes.scss';

.pL-6px { padding-left: 6px; }
.h130 { min-height: 130px; }
.zIndex999 { z-index: 999; }
.mL-2px { margin-left: 2px; }

.lang-button
{
    $size: 45px;
    width: $size;
    height: $size;
}
.translate1 { @include translateX(35px); }
.translate2 { @include translateX(40px); }
.noTranslateX { @include translateX(0); }
.noTranslateY { @include translateY(0); }
.translateY10 { @include translateY(10px); }

.lang
{
    padding: 5px 0;
    & .bi-arrow-up-short::before { @extend .transition; }
}
.revertArrow::before { @include rotate(-180deg); }

.dropdownLangs
{
    width: max-content;
    box-shadow: #00000063 0 0 10px 0;
    padding: 7px 10px 7px 12px;
    border-radius: 5px;
}

.blur { background-color: #f5f7fa4d; }
.darkBlur { background-color: #162a4180; }
