<div class="d-flex flex-column align-items-end" [ngClass]="darkMode ? 'dmColor' : ''">
    <div *ngIf="langClicked && showSelect" class="d-flex flex-column dropdownLangs">
        <div *ngFor="let country of countries" class="center pointer" (click)="setLanguage(country)">
            <i class="flag-icon flag-icon-{{ country }}"></i>
            <span> {{ country == 'it' ? 'ITA' : 'ENG' }} </span>
        </div>
    </div>
    
    <div class="center" [ngClass]="langClicked ? 'langClicked' : ''">
        <span class="center lang-button br50 zIndex1000 transition {{ countryCode == 'it' ? 'translate1' : 'translate2' }}" [ngClass]="langClicked ? 'noTranslateX' : ''" role="button" tabindex="0" (click)="showLang()">
            <i class="bi bi-globe2 fs-4"></i>
        </span>
    
        <span class="lang transition opacity0" [ngClass]="langClicked ? 'opacity1 pointer' : ''" (click)="showSelect = !showSelect">
            <i class="flag-icon flag-icon-{{ countryCode }}"></i>
            <span> {{ countryCode == 'it' ? 'ITA' : 'ENG' }} </span>
            <i class="bi bi-arrow-up-short" [ngClass]="showSelect ? 'revertArrow' : ''"></i>
        </span>
    </div>
</div>