:host ::ng-deep app-settings-section:first-child > div { padding-top: 0; }

.right280 { right: -280px; }
.pY-7-12_6 { padding: 7px 0 12.6px; }
.canvasTransition { transition: .3s; }
.xPadding { padding: 0 7px 12px 12px; }

.x-button
{
    padding: 7px;
    -webkit-text-stroke: thin;
    &:hover
    {
        background-color: #e9ecef;
        &.x-shadow { box-shadow: 0 0 5px -1px #00000024; }
    }
}
.x-dark:hover { background-color: #253a53; }

.settings
{
    height: calc(100vh - 67px);
    overflow: hidden auto;
}

.settings-canvas
{
    height: 100vh;
    width: 280px;
    z-index: 1000;
    overflow: hidden;
}

.settings-button
{
    @import '../../assets/classes';
    $size: 40px;
    width: $size;
    height: $size;
    border-radius: 50%;
    margin-right: 7px;
    z-index: 102;
    outline: 1px solid $white;
    opacity: .5;
    transition: .65s cubic-bezier(0.8, 0, 0, 1), opacity .2s ease;

    &:hover
    {
        opacity: 1;

        & i
        {
            transition: transform .9s cubic-bezier(0.42, 0.17, 0.53, 0.77);
            @include rotate(225deg);
        }
    }
}
.settings-button.clicked
{
    $radius: 5px;
    border-radius: 0;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    margin-right: 0;
}

.settings-button-icon { font-size: 25px; }

.color-dark
{
    @import '../../assets/classes';
    outline-color: $dmWhite;
    @include gradient(#587987, #1e3e55, $degRevert);
    &:hover { @include gradient(#6d93a3, #30536d, $degRevert); }
}

.color-default
{
    @import '../../assets/classes';
    @include gradient(#4C96B6, #19496C);
    &:hover { @include gradient(#6cb3d1, #2f678e); }
}

.color-red
{
    @import '../../assets/classes';
    @include gradient(#b64c4c, #6c1919);
    &:hover { @include gradient(#c76565, #8f3535); }
}

.color-green
{
    @import '../../assets/classes';
    @include gradient(#6ab64c, #196c59);
    &:hover { @include gradient(#86c86c, #3d8f7c); }
}

.color-yellow
{
    @import '../../assets/classes';
    @include gradient(#b6a14c, #6c2a19);
    &:hover { @include gradient(#c6b25e, #934e3c); }
}

.color-purple
{
    @import '../../assets/classes';
    @include gradient(#b086c0, #226b79);
    &:hover { @include gradient(#c699d8, #287f91); }
}
