@import '../variables.scss';
@import '../classes.scss';

.h-104 { height: 104px; }
.w-25px { width: 25px; }

.img-logo
{
    width: 160px;
    height: auto;
}

.contacts
{
    padding: 43px 20px;
    text-decoration: none;
    color: $white;
    font-size: 18px;
    &:hover { animation: contactMe 2s linear infinite; }
    z-index: 100;
}
@keyframes contactMe
{
    10% { margin-bottom: 10px; }
    20% { margin-bottom: 0; }
    30% { margin-bottom: 10px; }
    40% { margin-bottom: 0; }
}