@import '../../classes.scss';

.mL10 { margin-left: 10px; }
.t4ms { transition: .4s; }
.translateX27 { @include translateX(27px); }

.toggle-shadow
{
    $shadow: #00000033, 0 0 5px 0 #0000000f, 0 0 0 0 #0000001f;
    box-shadow: 0 0 5px 0 $shadow;
}

.switch-toggle
{
    width: 56px;
    height: 29px;
    margin-block: 13px;
    border-radius: 20px;
}

.switch-button
{
    $size: 22px;
    width: $size;
    height: $size;
    margin-left: calc($size * -1);
}
