/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "flag-icon-css/css/flag-icons.min.css";

@import './app/assets/classes.scss';

* { font-family: "Montserrat"; }

::-webkit-scrollbar
{
    background-color: transparent;
    opacity: 20%;
    width: 13px;
}
::-webkit-scrollbar-thumb
{
    background-clip: content-box;
    @include gradient(#cbcbcb, #8d8d8d);
    border: 3px solid transparent;
    border-radius: 100px;
    margin: 2px;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
}
