@import '../variables.scss';
@import '../classes.scss';

.home-testata
{
    background-color: #00000033;
    border: 1px solid #00000005;
    width: 100%;
    padding: 30px;
    border-radius: 13px;
    box-shadow: -5px -5px 20px 0px #00000014,
    0 4px 5px 0 #0000000a,
    0 1px 10px 0 #0000002e;
}

.title
{
    margin-bottom: 0;
    font-size: calc(1.5rem + 3vw);
    font-weight: 700;
    animation: bgPulse 3s ease infinite;
    background-size: 200% 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-animation: bgPulse 3s ease infinite;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@keyframes bgPulse
{
    0% { background-position: 0% }
    50% { background-position: 75% }
    100% { background-position: 0% }
}
