@import '../../scssVariables.scss';

.textDark { color: $dmWhite; }

span
{
    cursor: pointer;
    padding: 5px 5px 5px 0;
}

.size-x-large { font-size: x-large; }

.icon-white { color: $white; }

.opacity0 { opacity: 0; }